/* style.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

.center-content {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}
h2 {
    text-align: left;
}
article {
    margin-bottom: 40px;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}
